/*
author: William Almond
site: almondproperties.com
org: Nuthouse Web Solutions, 2016
*/
body{

	font-family: 'lucida grande' , tahoma, verdana, arian, san-serif;
	background-color:#eeeeee

}

#container{
	width:95%;
	margin: 0 auto;
	padding: 10px;
	background-image: url(../images/wrap.jpg);
}
#navigation{
	height: 36px;
	border: 3px solid #e3e3e3;
	border-radius: 5px;
	margin-top: 5px;
	background-color:#FFF;
}
ul#navmenu{
	list-style-type:none;
	font-size: 20px;
}
ul#navmenu ul{
	width: 19%;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	text-align: center;
	float: left;
	margin:0px, 5px, 4px, 0px;
	
}
ul#navmenu ul:hover{
	background-color: #14005f;
	color: #e3e3e3;
	box-shadow:0px, 0px, 4px #999;
}
ul#navmenu a{
	text-decoration:none;
	color: black;
}
.title{
	font-family: "Arial";
	font-size: 20pt;
	margin: 1% 3%;
	
}

.title p{
	width: 25%;
	text-align: center;
	font-size: 12pt;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #999;
} 
.title p:hover{
	background-color: #14005f;
	color: #e3e3e3;
}

.property{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #999;
	margin: 1% 3%;
	align-content: center;
	overflow: auto;
}
.property .header{
	background: #14005f;
	color: white;
	padding: 10px 20px;
}
.property .body{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
	padding: 10px 20px;
}
ul#body_slides p{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
	padding: 10px 20px;
}
.textonpage{
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #999;
	margin: 1% 3%;
	padding: 1%
}
hr {
     color: #999;
     background: #999; 
     width: 75%; 
     height: 5px;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 260px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
footer{
	text-align: center;
}

/* Style for Modal */
#myImg{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
#myImg:hover{opacity: 0.7;}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0,9);
}
.modal-content{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;

}
.close{
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close.focus {
	color:	#bbb;
	text-decoration: none;
	cursor: pointer;
}
.modal-content{
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom{
	from{transform: scale(0)}
	to{transform: scale(1)}
}